*
body {
    background-image: linear-gradient(to right,
    purple, yellow, blue);
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
}
.canvas {
    height: 500px;
    width: 500px;
    margin: 55px;
    display: grid;
    border: 50px solid rgb(65, 25, 30);
    border-radius: 20px;
}

.buttons {
    display: flex;
    
    
}
.black {
    border-radius: 25px;
    height: 50px;
    color:aliceblue;
    background-color: black;
}

.gray {
    border-radius: 25px;
    height: 50px;
    color:aliceblue;
    background-color: darkgray;
}

.eraser {
    border-radius: 25px;
    height: 50px;
    color:black;
    background-color: pink;
}
.rainbow {
    color:white;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
    background-image: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #b102b7,
        #fd004c);
        /*filter:blur(5px);*/
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s;
        margin:25px;
}
.rainbow:hover::before 
{
    transform: translateY(-50%) rotate(180deg);
}

.pens {
    display:flex;
    flex-direction: column;
    margin:20px;
    gap:15px;
}

.special-fx {
    display:flex;
    flex-direction: column;
    margin:20px;
    gap:15px;
}
