*
body {
    background-image: linear-gradient(to right,
    purple, yellow, blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
}
.canvas {
    height: 500px;
    width: 500px;
    margin: 55px;
    display: grid;
    border: 50px solid rgb(65, 25, 30);
    border-radius: 20px;
}

button {
    max-width: 80px;
    min-width: 60px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 177, 177);
    border-radius: 5px;
}
.black {
    border-radius: 25px;
    height: 50px;
    color:aliceblue;
    background-color: black;
}
.black:hover {
    background-color: rgb(0, 0, 31);
    box-shadow: inset 2px 2px 2px;
}

.gray {
    border-radius: 25px;
    height: 50px;
    color:aliceblue;
    background-color: darkgray;
}
.gray:hover {
    background-color: rgb(49, 49, 49);
    box-shadow: inset 2px 2px 2px;
}

.eraser {
    border-radius: 25px;
    height: 50px;
    color:black;
    background-color: pink;
}
.eraser:hover {
    background-color: hotpink;
    box-shadow: inset 2px 2px 2px;
}
.rainbow {
    color:white;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
    background-image: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #b102b7,
        #fd004c);
        /*filter:blur(5px);*/
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s;
        margin:25px;
}
.rainbow:hover {
    background-image: conic-gradient(
        #8f002b,
        #a05b00,
        #817a0e,
        #24882c,
        #59005c,
        #6b0322);
        /*filter:blur(5px);*/
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s;
        box-shadow: inset 1px 2px 2px;
}
/* .rainbow:hover::before 
{
    transform: translateY(-50%) rotate(180deg);
} */

.pens {
    display:flex;
    flex-direction: column;
    margin:20px;
    gap:15px;
}

.special-fx {
    display:flex;
    flex-direction: column;
    margin:20px;
    gap:15px;
}
